## Last index

In [1]:
import numpy as np
x=np.array([1,0,1,0,1,0,1])
def last_index(x):
    n=len(x)
    index=-1
    for i in range(n):
        if x[i]==1:
            index=i
    return index
print(last_index(x))

6

## tower of hanoi

In [7]:
def tower_of_hanoi(n,s,d,a):
    if n==1:
        print(n,s,d)
        return
    tower_of_hanoi(n-1,s,d,a)
    print(n,s,d)
    tower_of_hanoi(n-1,s,d,a)
n=3
print(tower_of_hanoi(n,'A','B','C'))

1 A B
2 A B
1 A B
3 A B
1 A B
2 A B
1 A B
None

## FACTORIAL

In [11]:
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
num=4
print(factorial(num))

24

## 2D array

In [16]:
value=[[1,2,3],[4,5,6]]
res=[[value[i][j] for i in range(len(value))for j in range(len(value[0]))]]
for x in res:
    print(x)

[1, 2, 3, 4, 5, 6]